<h1>RoR Development Blog</h1>
<hr/>
<p><i>My experiences with Ruby and Rails.</i><br/>
Come check out my new <%= link_to 'blog', controller: 'articles' %> that I totally didn't
<a href="http://guides.rubyonrails.org/getting_started.html#creating-the-blog-application">steal</a>
and then fix up a bunch. 
