// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.cmnt {
    background-color: #444;
    float: left;
    margin: 10px; 
}
div.* {
    clear: both;
    border: 1px solid round;
}
